* {
    font-size: 1.2rem;
    letter-spacing: 0.1em;
}
body{
    background-color: rgb(217, 236, 217);
}

.navbar{
    background-color: #fff;
    padding: 0.5em;
}

.nav-link{
    color:#000;
    border: 0.1em solid green;
    margin: 0.2em;
    padding: 0.2em;
}

.nav-link:hover {
    color: #fff;
    background-color: green;
}

a{ 
    text-decoration: none;
}


h2 {
    text-align: center;
}

p{
    color: #000;
    text-decoration: wavy;
    text-indent: 5px;
    width: 100%;
}

nav{
    background-color: blue;
    height: 50px;
}

header{
    background-size: cover;
    padding-bottom: 10px;
    padding-left: 10px;
}

.column {
    float: left;
    width: 50%;
  }

 .col{
     float: left;
     width: 50% ;
     margin: 20px;
 } 
  
.row:after {
    content: "";
    display: table;
    clear: both;
  }


nav a{
    color: #fff;
    margin-top: 30px;
}

.image {
    position: relative;
    margin-left: 200px;
    height: 300px;
    width: 300px;
    border-radius: 70%;
}

.projects{
    display: grid;
    grid-template-columns: 33.3% 33.3% 33.3%  ;
}

.project{
    width: 150px;
}

.project1 {
    padding: 50px;
    font-size: 30px;
    text-align: center;
    width: 50px;
}

.card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    width: 40%;
  }


.handles {
    color: blue;
}

.testimonials{
    display: grid;
    grid-template-columns: 33.3% 33.3% 33.3%;
}

.testimonials:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  }

.avatar {
    font-size: 30px;
    text-align: center;

}

.info {
    padding: 2px 16px;
  }

.card {
    height: 600px;
    margin-left: 300px;
    text-align: center;
}

.submit{
    background-color: aquamarine;
    border-radius: 10px;
}

.footer {
    position: relative;
    left: 0;
    margin-top: 100px;
    margin-bottom: 0;
    height: 100px;
    width: 100%;

    text-align: center;
}
